@model List<QuanLyBanGiay.Models.tSanPham>
@{
    ViewBag.Title = "Giày Nam";
}

@*<div class="tab-content" style="display:block;">
    <div class="items">
        <div class="cl">&nbsp;</div>
        @{
            foreach (var item in Model)
            {
                <li>
                    <div class="image"> <a href="#"><img src="@Url.Content("~/Content/css/images/"+item.Anh)" alt="" /></a> </div>
                    <p>
                        Item Number: <span>@item.MaSP</span><br />
                        Size List : <span>8/8.5/9.5/10/11</span><br />
                        Brand Name: <a href="#">@item.TenSP</a>
                    </p>
                    <p class="price">Wholesale Price: <strong>@item.Gia</strong></p>
                </li>
            }
        }
    </div>
</div>*@
<style>
    .custom {
        width: 200px;
        height: 50px;
        line-height: 50px;
        vertical-align: center;
        text-align: center;
        background: chartreuse;
        font-size: 30px;
        color: red;
        font-weight: bold
    }
/*#list-product:hover {
        cursor: pointer;
    }*/
</style>
<!-- Search, etc -->
<div id="content" align="center">
    <!-- Tabs -->
    <div class="custom">@ViewBag.Name</div>
    <!-- Tabs -->
    <!-- Container -->
    <div id="container">
        <div class="tabbed">
            <!-- First Tab Content -->
            <div class="tab-content" style="display:block;">
                <div class="items">
                    <div class="cl">&nbsp;</div>
                    <ul>
                        @*@Html.Action("GetProductBySex","Product", new {@Sex = "Nam"})*@
                        @{
                            foreach (var item in Model)
                            {
                                <li id="list-product">
                                        <div class="image"> <a href="@Url.Action("ProductDetail", new {@MaSp = item.MaSP})"><img src="@Url.Content("~/Content/css/imagesProduct/"+item.Anh)" alt="" /></a> </div>
                                        <p> Item Number: <span>@item.MaSP</span><br />
                                            Size List : <span>8/8.5/9.5/10/11</span><br />
                                            Brand Name: <a href="#">@item.TenSP</a> </p>
                                        <p class="price">Wholesale Price: <strong>@item.Gia</strong></p>
                                    </li>
                            }
                        }
                    </ul>
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
            <!-- End First Tab Content -->
        </div>
    </div>
    <!-- End Container -->
</div>
